body {
  background-color:#dfc2e1;
  margin: 0;
}
html {
  font-family: 'Andale Mono', monospace;
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}
h1 {
  font-weight: 900;
  text-shadow: 3px 3px 1px white;
}
#content, #buttons, #button-list {
  display: flex;
}
h1, #output-text-list, .sub-titles, .output-result {
  text-align: center;
}
#content {
  flex-direction: row;
  justify-content: space-around;
}
#buttons, #button-list {
  flex-direction: column;
}
#output-text-list {
  color: #36454F;
}
#buttons {
  align-items: center;
}
button {
  height: 6vh;
  width: 17vw;
}
#showPartTwoButton {
  height: 3vh;
}
.output-result {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  height: auto;
  max-height: 300px;
  width: 300px;
}
@media (max-width: 460px) {
  html {
    font-size: 0.65rem;

  } 
  body {

    display: grid;
    grid-template: 1fr 9fr / 1fr;
    grid-template-areas:
      "title-alias"
      "content-alias";
    height: 100vh;
  }
  #title {
    grid-area: title-alias;
  }
  #content {
    grid-area: content-alias;
    display: grid;
    grid-template: 1fr auto / 1fr;
    grid-template-areas:
      "outputs-alias"
      "buttons-alias";
  }
  #buttons {
    grid-area: buttons-alias;
  }
  #button-list {
    flex-direction: row;
  }
  #outputs {
    grid-area: outputs-alias;
  }
  #output-text-list {
    display: flex;
    flex-direction: column;
  }
  .output-result {
    position: relative;
    bottom: 1.2vh;
    height: auto;
    max-height: 300px;
    width: 200px;
    align-self: center;
    margin: 0;
  }
  .output-result > img {
    max-height: 100px;
  }
  #button-list > button {
    width: auto;
    height: 10vh;
  }
}
